.navBar{
    height: 50px;
    background-color:rgb(192, 34, 113);
    display: flex;
    justify-content: center;
   
}
.navbarContainer{
    width: 100%;
    max-width: 1024px;
    
    color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }
  .logo{
    font-weight: 700;
  }
  